{{ define "main" }}

    {{ $type := (.Type) }}
    {{ $cfg := (index ($.Site.Data.taxonomy) ($type)) }}

    <div class="section py-3 py-md-5">
      <div class="container">

          {{ (partial "breadcrumb" .) }}

        <div class="row row-cols-1 row-cols-lg-{{ $cfg.cols }} g-3">
            {{ range $k, $v := (.Data.Terms.Alphabetical) }}
                {{ $name := (.Name) }}{{ $count := (.Count) }}
                {{ with ($.Site.GetPage (printf "/%s/%s" ($type) ($name))) }}
                    {{ $cfg := (index ($.Site.Data.taxonomy) ($type)) }}
                    {{ $size := ($cfg.cover.size) }}
                    {{ $email := (.Params.email) }}
                    {{ $icon_id := ((.Params.cover.icon.id) | default ($cfg.cover.icon.id)) }}
                    {{ $icon_size := ($cfg.cover.icon.size) }}
                    {{ $avatar_id := (($email) | md5) }}
                    {{ $avatar_size := ($cfg.cover.avatar.size) }}
                    <div class="col">
                      <article class="d-flex">
                        <div class="flex-shrink-0">
                          <div class="node-cover bg-light">
                            <a href="{{ (.RelPermalink) }}"
                               class="d-flex justify-content-center align-items-center border rounded p-1 text-decoration-none text-muted"
                               style="width: {{ ($size) }}; height: {{ ($size) }};">
                                {{ with ($email) }}
                                  <img class="img-fluid" src='https://gravatar.com/avatar/{{ ($avatar_id) }}?s={{ ($avatar_size) }}&amp;d=monsterid' alt="Avatar" loading="lazy"/>
                                {{ else }}
                                  <i class="{{ ($icon_id) }} fa-fw fa-{{ ($icon_size) }}"></i>
                                {{ end }}
                            </a>
                          </div>
                        </div>
                        <div class="flex-grow-1 ms-3">
                          <h4 class="h5 mt-0">
                            <a href="{{ (.RelPermalink) }}">{{ (.Title) }}</a>
                            <sup class="text-muted">{{ ($count) }}</sup>
                          </h4>
                          <div class="node-body">{{ (.Content) }}</div>
                        </div>
                      </article>
                    </div>
                {{ end }}
            {{ end }}
        </div>
      </div>
    </div>

{{ end }}
